.PublisherHelp > h1, .PublisherPublish > h1 {
    color: rgb(47, 175, 103) !important;
}

.PublisherHelp > .line, .PublisherPublish > .line {
    background-color: rgb(47, 175, 103) !important;

    height: 2px;
    width: auto;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.PublisherHelp > ul {
    font-size: 20px;
}


.PublisherHelp > ul > li {
    text-align: left;
    margin: 40px 60px;
    color: gray
}

.PublisherPublishChoices {
    float: left;
    margin-left: 60px;
}

.PublisherPublishChoices > button {
    box-shadow: 1px 1px 10px gray;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;

    color: white;

    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 20px;

    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    width: 150px;

    text-align: center;

    background-color: rgb(58,212,124);

}

.PublisherPublishChoices > div {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}


.PublisherPublishForms {
    display: flex;
}


.PublisherPublishForm {
    display: grid;
    width: 50vw;
}


.PublisherPublishForm > label {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.PublisherPublishForm > label > p {

    margin: 10px auto;

    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 18px;


    color: rgb(47, 175, 103);
    text-align: left;
}

.PublisherPublishForm > label > input.wrong, .PublisherPublishForm > label > select.wrong {
    border: 1px solid rgb(248, 97, 97);
}

.PublisherPublishForm > label > input.right, .PublisherPublishForm > label > select.right {
    border: none;
}

.PublisherPublishForm > label > input, .PublisherPublishForm > label > select {
    border-radius: 5px;
    border: none;

    width : 80%;

    float: left;

    padding: 15px;

    background-color: rgb(241, 241, 241)
}

.radioInputs {
    float: left;
}

.PublisherPublishForm > label > .radioInputs > div > label {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: gray;
}


.PublisherPublishForm > span {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: gray;
}

