
.StudentApplicationList {
    margin: 40px 60px;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    width: 420px;
    /* height: 100%; */
}

.right > ul {
    max-height: 300px;
    overflow-y: auto;
}

.right > ul::-webkit-scrollbar {
    width: 15px;
}

.right > ul::-webkit-scrollbar-track {
    background: rgb(231,229,229);
}
   
/* Handle */
.right > ul::-webkit-scrollbar-thumb {
    background: rgb(157,157,157); 
}
  
/* Handle on hover */
.right > ul::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131); 
}

.StudentApplicationList > h2 {
    border-radius: 5px;
    background-color: rgb(54,143,226);
    font-weight: normal;
    color: white;

    height: 30px;
    font-size: 20px;
    padding: 15px;
    /* padding-left: 20px; */

    text-align: left;
    margin: 0 auto;
}

.StudentApplicationList > div {
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 0;
    list-style-type: none;
}

.StudentApplicationList > div > div {
    position: relative;
    background-color: rgb(222,222,222);
    /* height: 30px; */
    text-align: left;
    padding: 15px;

    color: #818181;
    font-size: auto;
    margin: 0 auto;
}

.StudentApplicationList .odd {
    background-color: rgb(232, 230, 230)
}

.StudentApplicationList > div > div > button {
    border-radius: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    
    border: none;
    outline: none;
    background-color: cornflowerblue;
    width: 50px;
    height: 100%;
}

.StudentApplicationList > div > div > button:hover {
    background-color: rgb(72, 108, 177);
}

