.header-main {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
}

.header-bottom {
    background-color: #909090;
    height: 50px;
}

.account-circle {
    position: relative;
    top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray;
    grid-column-start: end;
}

.account {
    z-index: 1;
    grid-column-start: end;
    
    white-space: nowrap;

    position: relative;
    top: 40px;

    height: 20px;

    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;    

    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: gray;
    background-color: transparent;
}

@keyframes spin 
{
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}
@-moz-keyframes spin  /* Firefox */
{
    from {-moz-transform:rotate(0deg);}
    to {-moz-transform:rotate(180deg);}
}
@-webkit-keyframes spin  /* Safari and Chrome */
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(180deg);}
}
@-o-keyframes spin  /* Opera */
{
    from {-o-transform:rotate(0deg);}
    to {-o-transform:rotate(180deg);}
}
@-ms-keyframes spin  /* IE */
{
    from {-ms-transform:rotate(0deg);}
    to {-ms-transform:rotate(180deg);}
}

.account_button, .account_button_downward {
    
    margin-left: 10px;

    position: relative;
    display: inline-block;

    width: 0;
    height: 0;

    border-top: 0;
    border-bottom: 14px solid gray;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    background:  transparent;

}

.account_button_click {

    animation: spin 1s;
    -moz-animation: spin 1s;    /* Firefox */
    -webkit-animation: spin 1s; /* Safari and Chrome */
    -o-animation: spin 1s;    /* Opera */
    -ms-animation: spin 1s; /* IE */
}

.account_button_downward {
    border-top: 14px solid gray;
    border-bottom: 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.account > ul{
    position: relative;
    list-style-type: none;
    margin-top: 0px;
    margin: center;
    right: 20px;
}

.account  li {
    
    background: #E9E9E9;
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
}