/*@import "./Banner.css";*/

.grid-container {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    padding: 30px;
    text-align: center;
    /*grid-template-areas: 'stud-banner secr-banner publ-banner dist-banner';*/
}

.stud-banner, .secr-banner, .publ-banner, .dist-banner{
    position: relative;
    height: 575px;
    width: 300px;
    text-align: center;
    display: inline-block;
    filter: drop-shadow(10px 10px 4px gray);
}

.secr-banner, .dist-banner {
    height: 500px;
}

.stud-banner-below, .secr-banner-below, .publ-banner-below, .dist-banner-below {
    width: 0;
    height: 0;
    display: inline-block;
    border-bottom: 100px solid transparent;
    position: relative;
    top: 88px;
}


.stud-banner>button, .secr-banner>button, .publ-banner>button, .dist-banner>button{
    border: 0;
    color: white;
    width: 300px;
    height: 75px;
    font-size: large;
    margin: 2px;
}

.stud-banner>img, .secr-banner>img, .publ-banner>img, .dist-banner>img{
    padding-top: 30px;
}

.stud-banner>h1, .secr-banner>h1, .publ-banner>h1, .dist-banner>h1{
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.stud-banner {
    background-color: #4B8EE6;
    grid-column: 2 / 3;
}

.stud-banner>button{
    background-color: rgb(63, 118, 190);
    box-shadow: 0px 2px 5px rgb(37, 68, 109);
}

.stud-banner-below {
    
    border-left: 150px solid #4B8EE6;
    border-right: 150px solid #4B8EE6;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.secr-banner  {
    background-color: #FA3A5B;
    grid-column: 3 / 4;
}

.secr-banner>button{
    background-color: rgb(185, 42, 66);
    box-shadow: 0px 2px 5px rgb(93, 21, 33);
}

.secr-banner-below {
    top: 92px;
    border-left: 150px solid #FA3A5B;
    border-right: 150px solid #FA3A5B;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.publ-banner {
    background-color: #00C748;
    grid-column: 4 / 5;
}

.publ-banner>button{
    background-color: rgb(0, 146, 54);
    box-shadow: 0px 2px 5px rgb(0, 71, 26);
}

.publ-banner-below {
    border-left: 150px solid #00C748;
    border-right: 150px solid #00C748;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.dist-banner {
    background-color: #FF9933;
    grid-column: 5/6;
}

.dist-banner>button {
    background-color: rgb(197, 118, 40);
    box-shadow: 0px 2px 5px  rgb(98, 59, 20);
}

.dist-banner-below {
    top: 65px;
    border-left: 150px solid #FF9933;
    border-right: 150px solid #FF9933;
}