/*@import "./Banner.css";*/
.Home {
    height: 100vh;
    /* width: 100vw; */
}

.Home > main {
    height: 80.9%;
    width: 100%;
    position: relative;
}

.AnnouncementTable {
    float: left;
    position: relative;

    margin-right: 40px;
    margin-top: 50px;

    width: calc(21% - 40px);
    box-shadow: 1px 1px 10px;
}

.AnnouncementTable > h2 {
    position: fixed;

    width: inherit;
    text-align: center;

    border-radius: 3px;
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 20px 0px;
    font-weight: normal;
    margin: 0;
    
    font-size: 20px;
}

.AnnouncementTable > .Announcements {
    max-height: 610px;
    margin-top: 60px;
    overflow-y: auto;
}

.AnnouncementTable > .Announcements > .Announcement {
    margin-top: 0;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    transition: 200ms;
    cursor: pointer;
}

.AnnouncementTable > .Announcements > .Announcement:hover {
    background-color: rgb(167, 167, 167) !important;
}

.AnnouncementTable> .Announcements > .Announcement.Odd {
    background-color: rgb(206, 206, 206);
}

.Announcement > h3, .AnnouncementPopup > div > h3 {
    font-size: 16px;
    color: rgb(66, 66, 66);
    font-weight: normal;
}

.AnnouncementPopup > div > h3 {
    font-size: 20px;
}

.Announcement > p {
    font-size: 12px;
    color: rgb(58, 58, 58);
}

.AnnouncementPopup {
    border-radius: 5px !important;
    box-shadow: 1px 1px 5px !important;
    width: 500px !important;
    padding: 20px !important
}

.AnnouncementPopup > div > p {
    font-size: 16px;
    color: rgb(66, 66, 66);
    line-height: 25px;
}

.AnnouncementPopup > div > span {
    font-size: 12px;
    color: rgb(58, 58, 58);
}

.grid-container {
    background-color: white;
    margin: 0 auto;
    grid-column-gap: 50px;
    padding: 30px;
    text-align: center;
    float: left;
    width: calc(79% - 60px);

}

.Banner {
    height: 450px;
    width: 320px;
    text-align: center;
    filter: drop-shadow(1px 1px 5px black);
    float: left;
    margin: 20px 20px;
}

.BannerBelow {
    top: 43px;
    width: 0;
    height: 0;
    position: relative;
    border-bottom: 85px solid transparent;

    border-left-width: 160px;
    border-left-style: solid;
    border-right-width: 160px;
    border-right-style: solid;
}

.Banner > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    height: 35%;
}

.Banner > ul > li {
    margin: 1px;
    cursor: pointer;

    text-decoration: none;

    padding: 20px 10px;

    transition: 200ms;
    white-space: nowrap;
}

.BannerLink {
    text-decoration: none;
    /* border: none; */

    color: white;
    width: 298px;
    height: 75px;

    
    font-size: 18px;

    margin: 2px;
}

.BannerImage {
    padding-top: 30px;
}

.Banner > h1 {
    color: white;
    font-weight: normal;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.StudentBanner {
    background-color: #4B8EE6;
    grid-column: 2 / 3;
}

.StudentBanner > ul > li {
    background-color: rgb(63, 118, 190);
    box-shadow: 0px 2px 10px rgb(37, 68, 109);
}

.StudentBanner > ul > li:hover {
    background-color: rgb(53, 99, 160);
}

.StudentBannerBelow {
    border-left-color: #4B8EE6;
    border-right-color: #4B8EE6;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.SecretaryBanner {
    background-color: #FA3A5B;
    grid-column: 4 / 5;
}

.SecretaryBanner > ul > li {
    background-color: rgb(185, 42, 66);
    box-shadow: 0px 2px 10px rgb(116, 27, 42);
}

.SecretaryBanner > ul > li:hover{
    background-color: rgb(151, 35, 54);
    transition: 200ms;
}

.SecretaryBannerBelow {
    border-left-color: #FA3A5B;
    border-right-color: #FA3A5B;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.PublisherBanner {
    background-color: #00C748;
    grid-column: 3 / 4;
    /* height: 393px; */
}

.PublisherBanner > ul > li {
    background-color: rgb(0, 146, 54);
    box-shadow: 0px 2px 10px rgb(0, 71, 26);
}

.PublisherBanner > ul > li:hover {
    background-color: rgb(0, 122, 45);
    transition: 200ms;
}

.PublisherBannerBelow {
    border-left-color: #00C748;
    border-right-color: #00C748;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.DistributorBanner {
    background-color: #FF9933;
    grid-column: 5/6;
    /* height: 393px; */
}

.DistributorBanner > ul > li {
    background-color: rgb(197, 118, 40);
    box-shadow: 0px 2px 10px  rgb(98, 59, 20);
}

.DistributorBanner > ul > li:hover {
    background-color: rgb(163, 98, 33);
    transition: 200ms;
}

.DistributorBannerBelow{
    border-left-color: #FF9933;
    border-right-color: #FF9933;
}

