.Main h1 {
    color: rgb(63, 118, 190);;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;

    height: 40px;
}

.Main .line {

    background-color: rgb(63, 118, 190);

    height: 2px;
    width: auto;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}