.Signup > h1 {

    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: normal;

    text-align: left;

    margin: 40px 60px;

    color: cornflowerblue;
}

.SignupChoices {
    float: left;
    margin-left: 60px;
}

.SignupChoices > button {
    box-shadow: 1px 1px 10px rgb(75, 75, 75);;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;

    color: white;

    
    font-size: 20px;

    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    width: 150px;

    text-align: center;

    background-color: cornflowerblue;

}

#SignupLink, #LoginLink {
    
    cursor: pointer;
    color: cornflowerblue;
}


.SignupForms {
    display: flex;
}


.SignupForm {
    display: grid;
    width: 50vw;
}


.SignupForm > label, .SearchBar {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.SignupForm > label > p, .SignupForm > .SearchBar > p {

    margin: 10px auto;

    
    font-size: 18px;


    color: cornflowerblue;
    text-align: left;
}

.SignupForm > label > input.wrong, .SignupForm > .SearchBar >.ComboDropdown.wrong > div {
    border: 1px solid rgb(248, 97, 97);
}

.SignupForm > label > input.right, .SignupForm > .SearchBar > .ComboDropdown.right > div {
    border: none;
}

.SignupForm > label > input, .SignupForm > .SearchBar > .ComboDropdown > div {
    border-radius: 5px;
    border: none;

    width : 80%;

    padding: 15px;

    background-color: rgb(241, 241, 241);
}

.SignupForm > .SearchBar > .ComboDropdown > div {
    padding: 0;
    color: rgb(75, 75, 75);;
}

.radioInputs {
    float: left;
}

.SignupForm > label > .radioInputs > div > label {
    color: rgb(75, 75, 75);;
}


.SignupForm > span {
    color: rgb(75, 75, 75);;
}

.Link {
    border: none;
    outline: none;
    color: cornflowerblue;
    background: none;
    font-size: 18px;
}

