.SignupForm {
    display: grid;
}

.SignupForm > header {
    text-shadow: 0.1px 0.1px 5px;

    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 25px;

    text-align: left;

    margin: 40px 100px;

    color: cornflowerblue;
}

.SignupForm > label {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.SignupForm > label > p {
    text-shadow: 0.1px 0.1px 5px;

    margin: 10px auto;

    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 18px;


    color: cornflowerblue;
    text-align: left;
}

.SignupForm > label > input.wrong, .SignupForm > label > select.wrong {
    border: 1px solid rgb(248, 97, 97);
}

.SignupForm > label > input.right, .SignupForm > label > select.right {
    border: none;
}

.SignupForm > label > input, .SignupForm > label > select {
    border-radius: 5px;
    border: none;

    width : 80%;

    float: left;

    padding: 15px;

    background-color: rgb(241, 241, 241)
}


#SignupButton {
    box-shadow: 1px 1px 10px gray;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;

    color: white;

    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 20px;

    padding: 10px 20px;
    margin: 20px auto;
    width: 150px;

    text-align: center;

    background-color: cornflowerblue;
}

.SignupForm > span {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: gray;
}

#SignupLink {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: cornflowerblue;
}
