.StudentApplications > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54,143,226);
}

.StudentApplications > .line {
    background-color: rgb(54,143,226);

    height: 2px;
    width: auto;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.StudentApplicationList {
    margin-top: 20px;
    margin-left: 180px;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 180px;
}

.right > ul {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.right > ul::-webkit-scrollbar {
    width: 15px;
}

.right > ul::-webkit-scrollbar-track {
    background: rgb(231,229,229);
}
   
/* Handle */
.right > ul::-webkit-scrollbar-thumb {
    background: rgb(157,157,157); 
}
  
/* Handle on hover */
.right > ul::-webkit-scrollbar-thumb:hover {
background: rgb(131, 131, 131); 
}

.StudentApplicationList > h2 {

    background-color: rgb(54,143,226);
    font-weight: normal;
    color: white;
    width: 420px;
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 0px;
}

.StudentApplicationList > ul {

    margin-top: 1px;
    padding-left: 0;
    list-style-type: none;
}

.StudentApplicationList  li {
    background-color: rgb(222,222,222);
    height: 30px;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    color: #818181;
    font-size: 21px;
    margin-top: 1px;
}

.StudentApplicationList .odd {
    background-color: rgb(232, 230, 230)
}

.StudentApplicationList button {
    position: relative;
    top: -10px;
    left: 9px;
    padding: 0;
    

    border: 0;
    background-color: cornflowerblue;
    float: right;
    width: 50px;
    height: 50px;
}